{% extends 'base.html' %}
{% block title %} Log in {% endblock %}

{% block content %}
<div class="portal" >
  <form method="post">
    <br><br><br><br><br><br><br><br><br> 
    <div class="smallbox" style = "position:relative; left:50%;top:20%;">
      <label for="username" style = "position:relative; left:20px">Username</label>
      <input name="username" id="username" required style = "position:relative; left:20px">
      <label for="password" style = "position:relative; left:20px">Password</label>
      <input type="password" name="password" id="password" required style = "position:relative; left:20px">
      <br>
      <input type="submit" value="Log In" style = "position:relative; left:20px">
    </div>  
    <br><br><br><br><br><br><br><br><br><br>
  </form>
</div>
{% endblock %}
