<!DOCTYPE html>
<html>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <title>{% block title %} {% endblock %}</title>
        <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    </head>

    <body>
        <script>
            window.addEventListener( "pageshow", function ( event ) {
              var historyTraversal = event.persisted ||
                                     ( typeof window.performance != "undefined" &&
                                          window.performance.navigation.type === 2 );
              if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
              }
            });
        </script>
        <div class="menu" style="padding-top:5px">
            <a href="/" style="position:relative; padding-left:20px">소셜 MBTI 분석기</a>
            {% if g.user %}

            <a style = "float:right; padding-right:15px" href="{{ url_for('auth.logout') }}">로그아웃</a>
            <a style = "float:right" href="{{ url_for('questionaire.profile') }}">프로필</a>
            {% else %}
            <a style = "float:right; padding-right:15px" href="{{ url_for('auth.register') }}">회원가입</a>
            <a style = "float:right" href="{{ url_for('auth.login') }}">로그인</a>
            {% endif %}
            {% block additional%}

            {% endblock %}
        </div>
        
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </body>
</html>