<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>너를 위한 시험지</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">소셜 MBTI 분석기</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->


        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>상세 결과</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href={{url_for('result_handler.display_self_results')}}>나 자신의 평가</a>
                    <a class="collapse-item" href="{{url_for('result_handler.display_peer_tests_by_me')}}">너를 위해 봐준 시험들</a>
                    <a class="collapse-item" href="{{url_for('result_handler.display_peer_tests_for_me')}}">나를 위해 봐준 시험들</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>시험 보기</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ url_for('survey.self_test') }}">나를 위한 시험지</a>
                    <a class="collapse-item" href="{{ url_for('survey.peer_test') }}">너를 위한 시험지</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:1.5rem">{{g.user['name']}}</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                암호 변경
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">너를 위한 시험지</h1>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages%}
                        <li style="color:red">{{messages}}</li>
                    {% endif %}
                {% endwith %}
                <form style="padding: 15px" method="post" class="survey">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">상대 선택</h6>
                        </div>
                        <div class="card-body">
                            <label for="dept">상대방의 부서를 선택 해 주세요:</label>
                            <select name="dept" id="dept" onchange="updater();promptChange(1)">
                                {% for item in deptlist %}
                                <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="name">상대방의 이름을 선택 해 주세요:</label>
                            <select name="name" id="name" onchange="promptChange(1)">
                            </select>
                            <br>
                        </div>
                    </div>
                    {% set q_number = [] %}
                    {% for question in questions %}
                        {% if question['self_test_question'] != "." %}
                            {% if question['question_number']|int in chosen_questions %}
                                {% set __ = q_number.append(1) %}
                                {% if question['question_worth'][0] == "D" %}
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">객관식 질문 {{q_number|length|string}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <p id={{"question" + question['question_number']}}></p>
                                        <div>
                                            <input required type="radio" id={{"cAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=0><label for={{"cAgree" + question['question_number']}}>&nbsp; 1. &nbsp;</label>
                                            <input required type="radio" id={{"cSAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=1><label for={{"cSAgree" + question['question_number']}}>&nbsp; 2. &nbsp;</label>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                {% else %}
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">객관식 질문 {{q_number|length|string}}</h6>
                                    </div>
                                    <div class="card-body">
                                        <p id={{"question" + question['question_number']}}></p>
                                        <div>
                                            <input required type="radio" id={{"cStrAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=0><label for={{"cStrAgree" + question['question_number']}}>&nbsp; 매우 동의 &nbsp;</label>
                                            <input required type="radio" id={{"cAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=1><label for={{"cAgree" + question['question_number']}}>&nbsp; 동의 &nbsp;</label>
                                            <input required type="radio" id={{"cSAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=2><label for={{"cSAgree" + question['question_number']}}>&nbsp; 약간 동의 &nbsp;</label>
                                            <input required type="radio" id={{"cNANDA" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=3><label for={{"cNANDA" + question['question_number']}}>&nbsp; 중립 &nbsp;</label>
                                            <input required type="radio" id={{"cSDAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=4><label for={{"cSDAgree" + question['question_number']}}>&nbsp; 약간 부정 &nbsp;</label>
                                            <input required type="radio" id={{"cDAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=5><label for={{"cDAgree" + question['question_number']}}>&nbsp; 부정 &nbsp;</label>
                                            <input required type="radio" id={{"cStrDAgree" + question['question_number']}} name={{"q" + question['question_number']}}
                                                   value=6><label for={{"cStrDAgree" + question['question_number']}}>&nbsp; 매우 부정 </label>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                                {% if question['question_worth'][0] == "D" %}
                                    <input hidden name={{"q" + question['question_number']}} value=".5">
                                {% else %}
                                    <input hidden name={{"q" + question['question_number']}} value="3">
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">주관식 질문 {{question['question_number'][-1]}}</h6>
                                </div>
                                <div class="card-body">
                                    <p id={{"sresp" + question['question_number'][-1]}}></p>
                                    <div>
                                        <textarea required type="text" name={{"sresp" + question['question_number'][-1]}} cols="30"
                                                  placeholder="대답을 여기에 적어주세요..."></textarea>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit!">
                </form>

            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Hunet 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
</div>


<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">정말 나가시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">나가실 준비가 되셨다면 밑에 "로그아웃" 버튼을 눌러주세요.</div>
            <div class="modal-footer" style="border-top:none">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">로그아웃</a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<script>
        updater();

        promptChange(0);

        function updater(){
            let e = document.getElementById('dept');
            x = document.getElementById('name')
            while (x.firstChild) {
              x.removeChild(x.firstChild);
            }
            {% for person in people %}
                if("{{person['dept_name']}}" == e.value){
                    let a = document.createElement('option');
                    a.innerHTML = `<option value="{{person['name']}}">{{person['name']}} {{person['emp_no']}}</option>`;
                    document.getElementById('name').appendChild(a);
                }
            {% endfor %}
        };

        function promptChange(a){
            x = document.getElementById('name').value;

            let x1 = x.split(' ');
            if (a == 0){
                y = "박창훈";
            }else{
                y = x1[0];
            }
            {% set q_number = [] %}
            {% for question in questions %}
                {% if question['self_test_question'] != "." %}
                    {% if question['question_number']|int in chosen_questions %}
                    {% set __ = q_number.append(1) %}
                    document.getElementById("{{"question" + question['question_number']}}").innerHTML = ("{{question['peer_test_question']}}").replaceAll("name", y);

                    {% endif %}
                {% else %}
                    document.getElementById("{{question['question_number']}}").innerHTML = ("{{question['peer_test_question']}}").replaceAll("name", y);
                {% endif %}
            {% endfor %}
        }

</script>
</body>

</html>