{% extends 'base.html' %}

{% block title %} Peer Testing {% endblock %}



{% block content %}
<form method="post" class = "questionaire">
    <h1>Test for:</h1>
    <input required type="text" name="target_username">
    {% for i in range (1,21) %}
        <h1>Question {{i}}</h1><div><input required type="radio" id={{"cYes" + i|string}} name={{"q" + i|string}} value=0><label for={{"cYes" + i|string}}>Yes</label><input required type="radio" id={{"cNo" + i|string}} name={{"q" + i|string}} value=1><label for={{"cNo" + i|string}}>No</label><input required type="radio" id={{"cMaybe" + i|string}} name={{"q" + i|string}} value=2><label for={{"cMaybe" + i|string}}>Maybe</label><input required type="radio" id={{"cSo" + i|string}} name={{"q" + i|string}} value=3><label for={{"cSo" + i|string}}>So</label></div><br>
    {% endfor %}
    <input type="submit" value="Submit">

</form>
{% endblock %}