{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block additional %}
<a style = "float:right" href="#trend">트랜드</a>
<a id="top" style = "float:right" href="#self">셀프 결과</a>
<a style = "float:right" href="#peerSelf">타깃 결과</a>
{% endblock %}



{% block content %}
<div class="portal">
    <h1 id="peerSelf" style="position:relative; left:10px; padding-top:15px; padding-left:5px">나에게 온 타깃 테스트 결과</h1><hr>
    {% for stest in peerassessments %}
        {% if g.user['username'] == stest['target_username'] %}
            <article class="testResults">
                <a href= {{"/results/peer/" + stest['route']}}> {% if stest['new_tagp'] == 1 %} <span style="color:blue; text-decoration:underline">NEW!</span> {% endif %} {{stest['username']}} 가 나를 위하여 {{ stest['created'].strftime('%Y-%m-%d %H:%M:%S') }}  에 본 테스트</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}
    <a href="#top" style="position:relative; left:10px; padding-left:5px">Back to the Top</a>

    <hr><h1 id="selfPeer" style="position:relative; left:10px; padding-left:5px">내가 본 타깃 테스트 결과</h1><hr>
    {% for stest in peerassessments %}
        {% if g.user['username'] == stest['username'] %}
            <article class="testResults">
                <a href= {{"/results/peer/" + stest['route']}}> {% if stest['new_tags'] == 1 %} <span style="color:blue; text-decoration:underline">NEW!</span> {% endif %} {{stest['target_username']}} 를 위하여 {{ stest['created'].strftime('%Y-%m-%d %H:%M:%S') }}  에 본 테스트</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}
    <a href="#top" style="position:relative; left:10px; padding-left:5px">Back to the Top</a>
    <hr>

    <h1 id="self" style="position:relative; left:10px; padding-left:5px">셀프 테스트 결과</h1><hr>
    {% for stest in selfassessments %}
        {% if g.user['id'] == stest['author_id'] %}
            <article class="testResults">
                <a href= {{"/results/self/" + stest['route']}}> {% if stest['new_tag'] == 1 %} <span style="color:blue; text-decoration:underline">NEW!</span> {% endif %} {{ stest['created'].strftime('%Y-%m-%d %H:%M:%S') }}  에 본 셀프 테스트</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}

    <a href="#top" style="position:relative; left:10px; padding-left:5px">Back to the Top</a>
    <hr>

    <h1 id="trend" style="position:relative; left:10px; padding-left:5px">트랜드 그래프</h1><hr>

    <div class="ah" id="EItrend" style="width:600px;height:250px;position:relative; left:15px; border: 3px dashed black" class="trendgraph">

        <script>
            var EIValself = []
            var testDateself = []
            var EIValpeer = []
            var testDatepeer = []
            var layout = {
                title: 'EI 그래프 (+: E, -: I)',
            };
        </script>
        {% for stest in selfassessments|reverse %}
            {% if g.user['id'] == stest['author_id'] %}
                <script>testDateself.push("{{stest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); EIValself.push({{stest['guess_MBTI_EI']}});</script>
            {% endif %}
        {% endfor %}
        {% for ptest in peerassessments|reverse %}
            {% if g.user['username'] == ptest['target_username'] %}
                <script>testDatepeer.push("{{ptest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); EIValpeer.push({{ptest['guess_MBTI_EI']}}); </script>
            {% endif %}
        {% endfor %}
        <script>
            EITREND = document.getElementById('EItrend');
            var traceEIself = {
                x: testDateself,
                y: EIValself,
                type: 'scatter',
                name: '셀프'
            };
            var traceEIpeer = {
                x: testDatepeer,
                y: EIValpeer,
                type: 'scatter',
                name: '타깃'
            };
            var data = [traceEIself, traceEIpeer];
            Plotly.newPlot(EITREND, data, layout, {displaylogo: false, displayModeBar: false});
        </script>
    </div>
    <br>
    <div class="ah" id="SNtrend" style="width:600px;height:250px;position:relative; left:15px; border: 3px dashed black" class="trendgraph">

        <script>
            var SNValself = []
            var testDateself = []
            var SNValpeer = []
            var testDatepeer = []
            var layout = {
                title: 'SN 그래프 (+: S, -: N)',
            };
        </script>
        {% for stest in selfassessments|reverse %}
            {% if g.user['id'] == stest['author_id'] %}
                <script>testDateself.push("{{stest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); SNValself.push({{stest['guess_MBTI_SN']}});</script>
            {% endif %}
        {% endfor %}
        {% for ptest in peerassessments|reverse %}
            {% if g.user['username'] == ptest['target_username'] %}
                <script>testDatepeer.push("{{ptest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); SNValpeer.push({{ptest['guess_MBTI_SN']}}); </script>
            {% endif %}
        {% endfor %}
        <script>
            SNTREND = document.getElementById('SNtrend');
            var traceSNself = {
                x: testDateself,
                y: SNValself,
                type: 'scatter',
                name: '셀프'
            };
            var traceSNpeer = {
                x: testDatepeer,
                y: SNValpeer,
                type: 'scatter',
                name: '타깃'
            };
            var data = [traceSNself, traceSNpeer];
            Plotly.newPlot(SNTREND, data, layout, {displaylogo: false, displayModeBar: false});
        </script>
    </div>
    <br>
    <div class="ah" id="TFtrend" style="width:600px;height:250px;position:relative; left:15px; border: 3px dashed black" class="trendgraph">

        <script>
            var TFValself = []
            var testDateself = []
            var TFValpeer = []
            var testDatepeer = []
            var layout = {
                title: 'TF 그래프 (+: T, -: F)',
            };
        </script>
        {% for stest in selfassessments|reverse %}
            {% if g.user['id'] == stest['author_id'] %}
                <script>testDateself.push("{{stest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); TFValself.push({{stest['guess_MBTI_TF']}});</script>
            {% endif %}
        {% endfor %}
        {% for ptest in peerassessments|reverse %}
            {% if g.user['username'] == ptest['target_username'] %}
                <script>testDatepeer.push("{{ptest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); TFValpeer.push({{ptest['guess_MBTI_TF']}}); </script>
            {% endif %}
        {% endfor %}
        <script>
            TFTREND = document.getElementById('TFtrend');
            var traceTFself = {
                x: testDateself,
                y: TFValself,
                type: 'scatter',
                name: '셀프'
            };
            var traceTFpeer = {
                x: testDatepeer,
                y: TFValpeer,
                type: 'scatter',
                name: '타깃'
            };
            var data = [traceTFself, traceTFpeer];
            Plotly.newPlot(TFTREND, data, layout, {displaylogo: false, displayModeBar: false});
        </script>
    </div>
    <br>
    <div class="ah" id="JPtrend" style="width:600px;height:250px;position:relative; left:15px; border: 3px dashed black" class="trendgraph">

        <script>
            var JPValself = []
            var testDateself = []
            var JPValpeer = []
            var testDatepeer = []
            var layout = {
                title: 'JP 그래프 (+: J, -: P)',
            };
        </script>
        {% for stest in selfassessments|reverse %}
            {% if g.user['id'] == stest['author_id'] %}
                <script>testDateself.push("{{stest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); JPValself.push({{stest['guess_MBTI_JP']}});</script>
            {% endif %}
        {% endfor %}
        {% for ptest in peerassessments|reverse %}
            {% if g.user['username'] == ptest['target_username'] %}
                <script>testDatepeer.push("{{ptest['created'].strftime('%Y-%m-%d %H:%M:%S')}}"); JPValpeer.push({{ptest['guess_MBTI_JP']}}); </script>
            {% endif %}
        {% endfor %}
        <script>
            JPTREND = document.getElementById('JPtrend');
            var traceJPself = {
                x: testDateself,
                y: JPValself,
                type: 'scatter',
                name: '셀프'
            };
            var traceJPpeer = {
                x: testDatepeer,
                y: JPValpeer,
                type: 'scatter',
                name: '타깃'
            };
            var data = [traceJPself, traceJPpeer];
            Plotly.newPlot(JPTREND, data, layout, {displaylogo: false, displayModeBar: false});
        </script>
    </div>
    <br>


    <a href="#top" style="position:relative; left:10px">Back to the Top</a>
    <br><br><br>
</div>


{% endblock %}