{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block additional %}
<a id="top" style = "float:right" href="#self">Self Results</a>
<a style = "float:right" href="#peer">Peer Results</a>
{% endblock %}



{% block content %}
    <hr><h1 id="peer">Peer Results</h1><hr>
    {% for stest in peerassessments %}
        {% if g.user['username'] == stest['target_username'] %}
            <article class="testResults">
                <a href= {{"/results/peer/" + stest['route']}}>Peer Assessment by {{stest['username']}} on {{ stest['created'].strftime('%Y-%m-%d') }}</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}
    <a href="#top">Back to the Top</a>
    <hr>

    <h1 id="self">Self Results</h1><hr>
    {% for stest in selfassessments %}
        {% if g.user['id'] == stest['author_id'] %}
            <article class="testResults">
                <a href= {{"/results/self/" + stest['route']}}>Self Assessment on {{ stest['created'].strftime('%Y-%m-%d') }}</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}

    <a href="#top">Back to the Top</a>
{% endblock %}