{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block additional %}
<a style = "float:right" href="#trend">View Trend</a>
<a id="top" style = "float:right" href="#self">Self Results</a>
<a style = "float:right" href="#peerSelf">Peer Results</a>
{% endblock %}



{% block content %}
    <hr><h1 id="peerSelf">Peer Results for You</h1><hr>
    {% for stest in peerassessments %}
        {% if g.user['username'] == stest['target_username'] %}
            <article class="testResults">
                {% if stest['new_tagp'] == 1 %} <h1>NEW!</h1> {% endif %}
                <a href= {{"/results/peer/" + stest['route']}}> Peer Assessment by {{stest['username']}} on {{ stest['created'].strftime('%Y-%m-%d') }}</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}
    <a href="#top">Back to the Top</a>
    <hr>

    <hr><h1 id="selfPeer">Peer Results by You</h1><hr>
    {% for stest in peerassessments %}
        {% if g.user['username'] == stest['username'] %}
            <article class="testResults">
                {% if stest['new_tags'] == 1 %} <h1>NEW!</h1> {% endif %}
                <a href= {{"/results/peer/" + stest['route']}}> Peer Assessment for {{stest['target_username']}} on {{ stest['created'].strftime('%Y-%m-%d') }}</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}
    <a href="#top">Back to the Top</a>
    <hr>

    <h1 id="self">Self Results</h1><hr>
    {% for stest in selfassessments %}
        {% if g.user['id'] == stest['author_id'] %}
            <article class="testResults">
                {% if stest['new_tag'] == 1 %} <h1>NEW!</h1> {% endif %}
                <a href= {{"/results/self/" + stest['route']}}> Self Assessment on {{ stest['created'].strftime('%Y-%m-%d') }}</a>
            </article>
            <hr>
        {% endif %}
    {% endfor %}

    <a href="#top">Back to the Top</a>
    <hr>

    <h1 id="trend">Trend Graph</h1><hr>
    <h1>Self Result Trend</h1>
    <div id="EItrend" style="width:600px;height:250px;" class="trendgraph">

        <script>
            var EIVals = []
            var testDate = []
        </script>
        {% for stest in selfassessments|reverse %}
            {% if g.user['id'] == stest['author_id'] %}
                <script>testDate.push({{stest['created'].strftime('%Y-%m-%d')}}); EIVals.push({{stest['guess_MBTI_EI']}}); </script>
            {% endif %}
        {% endfor %}
        <script>
            EITREND = document.getElementById('EItrend');
            var traceEI = {
                x: testDate,
                y: EIVals,
                mode: 'markers',
                type: 'scatter'
            };
            var data = [traceEI];
            Plotly.newPlot(EITREND, data);
        </script>
    </div>
    <br><br><br>



{% endblock %}