<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상대 평가</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">소셜 MBTI 분석기</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->


            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>상세 결과</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href={{url_for('questionaire.srlist')}}>나 자신의 평가</a>
                        <a class="collapse-item" href="{{url_for('questionaire.pslist')}}">너를 위해 봐준 시험들</a>
                        <a class="collapse-item" href="{{url_for('questionaire.splist')}}">나를 위해 봐준 시험들</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>시험 보기</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ url_for('questionaire.selftest') }}">나를 위한 시험지</a>
                        <a class="collapse-item" href="{{ url_for('questionaire.peertest') }}">너를 위한 시험지</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:1.5rem">{{g.user['name']}}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ url_for('auth.passchange') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">너를 위한 시험지</h1>
                    </div>

                    <form style="padding: 15px" method="post" class = "questionaire">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Choose Department</h6>
                            </div>
                            <div class="card-body">
                                <label for="dept">Choose a Department:</label>
                                <select name="dept" id="dept" onchange="updater();promptChange()">
                                    {% for item in deptlist %}
                                    <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label for="name">Choose the Target's Name:</label>
                                <select name="name" id="name" onchange="promptChange()">
                                </select>
                                <br>
                            </div>
                        </div>

                        {% for i in range (1,39) %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Question {{i}}</h6>
                            </div>
                            <div class="card-body">
                                <p id={{"question" + i|string}}></p>
                                <div>
                                    <input required type="radio" id={{"cStrAgree" + i|string}} name={{"q" + i|string}} value=0><label for={{"cStrAgree" + i|string}}> 매우 동의 </label>
                                    <input required type="radio" id={{"cAgree" + i|string}} name={{"q" + i|string}} value=1><label for={{"cAgree" + i|string}}> 동의 </label>
                                    <input required type="radio" id={{"cSAgree" + i|string}} name={{"q" + i|string}} value=2><label for={{"cSAgree" + i|string}}> 약간 동의 </label>
                                    <input required type="radio" id={{"cNANDA" + i|string}} name={{"q" + i|string}} value=3><label for={{"cNANDA" + i|string}}> 중립 </label>
                                    <input required type="radio" id={{"cSDAgree" + i|string}} name={{"q" + i|string}} value=4><label for={{"cSDAgree" + i|string}}> 약간 부정 </label>
                                    <input required type="radio" id={{"cDAgree" + i|string}} name={{"q" + i|string}} value=5><label for={{"cDAgree" + i|string}}> 부정 </label>
                                    <input required type="radio" id={{"cStrDAgree" + i|string}} name={{"q" + i|string}} value=6><label for={{"cStrDAgree" + i|string}}> 매우 부정 </label>
                                </div>
                                <br>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Question 39</h6>
                            </div>
                            <div class="card-body">
                                <p id="question39"}></p>
                                <div>
                                    <input required type="radio" id="cAgree39" name="q39" value=0><label for="cAgree39">1.</label>
                                    <input required type="radio" id="cSAgree39" name="q39" value=1><label for="cSAgree39">2.</label>
                                </div>
                                <br>
                            </div>
                        </div>
                        {% for i in range (1,6) %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Self Response Question {{i}}</h6>
                            </div>
                            <div class="card-body">
                                <p id={{"sresp" + i|string}}></p>
                                <div>
                                    <input required type="text" name={{"sresp" + i|string}} placeholder="Write Response Here...">
                                </div>
                                <br>
                            </div>
                        </div>
                        {% endfor %}
                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit!">
                    </form>

                </div>
            </div>

        </div>
            <!-- /.container-fluid -->

    </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script>

        document.getElementById("question1").innerHTML = "정해인님은 어딘가를 가기 전에 거기서 무엇을 언제 할지 먼저 결정 하실 것 같다.";
        document.getElementById("question2").innerHTML = "정해인님이 선생님이셨으면 가르치시는 수업에서 철학을 배재 하실것 같다.";
        document.getElementById("question3").innerHTML = "정해인님은 자신만의 시간을 가질 수 있는 기회를 소중히 여기신다.";
        document.getElementById("question4").innerHTML = "정해인님은 감정적인 결정을 자주 하신다.";
        document.getElementById("question5").innerHTML = "정해인님은 많은 사람들이 택한 길을 가는 것 보다는 새로운 길을 찾는 것 을 좋아 하신다.";
        document.getElementById("question6").innerHTML = "정해인님은 친구들에 대한 소식을 뒤늦게 접하실것 같다.";
        document.getElementById("question7").innerHTML = "정해인님은 주말에 다음 주를 위한 계획을 짜면 스트레스 가 쌓이실 성격 이시다.";
        document.getElementById("question8").innerHTML = "정해인님은 특별한 일이 생기신다면 나는 일을 시작하시기 전에 어떻게 일을 해결할 지 마음 속으로 정리 하신다.";
        document.getElementById("question9").innerHTML = "정해인님은 친구를 많이 만드는 것보다 소수의 친구들과 굉장히 친밀하게 지내실 것이다.";
        document.getElementById("question10").innerHTML = "정해인님은 놀때는 계획을 짜는 대신에 그때 그때 재미있어 보이는 것을 할것 같다.";
        document.getElementById("question11").innerHTML = "정해인님은 대화를 하실 때 객관적인 시점이 아닌 상상력을 바탕으로 얘기 하시는 것을 좋아하신다.";
        document.getElementById("question12").innerHTML = "정해인님은 단체로 활동 할 때 대체로 먼저 말씀을 꺼내신다.";
        document.getElementById("question13").innerHTML = "정해인님은 공감 능력에 대한 칭찬이 객관성에 대한 칭찬보다 가치가 있다고 생각 하실것 같다.";
        document.getElementById("question14").innerHTML = "정해인님은 이상하게 느껴질 정도로 새로운 표현을 만들는 작가를 좋아 하실것 같다.";
        document.getElementById("question15").innerHTML = "정해인님은 그 누구와도 쉽게 대화를 시작 하실 수 있다.";
        document.getElementById("question16").innerHTML = "정해인님은 스케줄을 따르는 행위를 정말 싫어 하신다.";
        document.getElementById("question17").innerHTML = "정해인님은 언제 무슨 일을 해야 되는지 정하는 것을 좋아하시는 것 같다.";
        document.getElementById("question18").innerHTML = "정해인님은 문제가 생기기 전에 파악한 후 해결책을 만드는 것이 문제가 생긴 후 해결 하는것보다 힘들어 할 것 같다.";
        document.getElementById("question19").innerHTML = "정해인님은 남들이 자신을 현실적인 사람이라고 생각하길 바란신다.";
        document.getElementById("question20").innerHTML = "정해인님은 지인들과 같이 새로운 사람들을 만나면 지인들을 대신하여 그들을 소개 시켜 주실 수 있으시다.";
        document.getElementById("question21").innerHTML = "정해인님은 이성적인 판단을 감성적인 생각보다 더욱 중요시 하신다.";
        document.getElementById("question22").innerHTML = "정해인님은 도전적인 삶보다 안정적인 삶을 가진 자들과 친구를 맺고 싶어 하신다.";
        document.getElementById("question23").innerHTML = "정해인님은 다른 사람이 한눈에 어떤 사람인지 바로 알 수 있다고 생각 한다.";
        document.getElementById("question24").innerHTML = "정해인님은 대체로 자신의 감정들을 남들 에게 보이지 않도록 노력 한다.";
        document.getElementById("question25").innerHTML = "정해인님은 계획을 짤 시 그 어떤 실패의 가능성도 고려하신 후 짜신다."
        document.getElementById("question26").innerHTML = "정해인님은 예술 관련 대화를 하실때 지루하신 듯 하다.";
        document.getElementById("question27").innerHTML = "정해인님은 다른 이들이 감성적 인 행동을 줄이고 이성적으로 생각하면 세상이 더욱 좋아 질수 있다고 믿으신다.";
        document.getElementById("question28").innerHTML = "정해인님은 다른 의견을 가진 사람이 그 의견을 가지고 있는 이유에 대하여 자주 생각 하실 것 같다.";
        document.getElementById("question29").innerHTML = "정해인님은 다른 배경에서 온 사람을 쉽게 이해 하실 수 있으시다.";
        document.getElementById("question30").innerHTML = "정해인님은 혼자서 할 수 있는 일이 편하신 것 같다.";
        document.getElementById("question31").innerHTML = "정해인님은 아무리 좋은 기회가 오시더라도 그 기회가 다른 사람에게 더욱 큰 도움이 될 수 있다고 생각하시면 포기 하실 성격이시다.";
        document.getElementById("question32").innerHTML = "정해인님은 이메일에 가능한 빨리 회신하려고 하시고 지저분한 편지함을 참을 수 없으시다.";
        document.getElementById("question33").innerHTML = "정해인님은 종종 다른 사람들의 감정에 공감하는데 어려움을 느끼신다.";
        document.getElementById("question34").innerHTML = "정해인님은 토론 시 사람들의 민감한 반응보다 보다 진실을 더 중요시 하신다.";
        document.getElementById("question35").innerHTML = "정해인님은 지인이 어떤 일로 슬퍼할 경우, 문제를 해결 할 수 방법을 제시하는 것 보다 정신적인 지지를 제공 하실 것 같다.";
        document.getElementById("question36").innerHTML = "정해인님은 사람들이 가득찬 방에 있으실 경우, 방의 중앙보다는 벽 가까이에 앉으신다.";
        document.getElementById("question37").innerHTML = "정해인님은 정리가 안 된 방을 보면 마음이 불안해 지신다.";
        document.getElementById("question38").innerHTML = "정해인님은 에너지를 충전하기 위해서 혼자 있는 시간을 가지신다.";
        document.getElementById("question39").innerHTML = "둘중에 더욱 진실에 가깝다고 생각하는 답을 골라 주십시요. 1) 정해인님은 눈에 띄지 않기 위하여 평범하게 살려고 노력하는 사람을 좋아하신다. 2) 정해인님은 눈에 띄든 말든 상관 없이 사는 사람을 좋아하신다.";
        document.getElementById("sresp1").innerHTML = "정해인님은 어떤 유명인과 가장 닮았고 어떤 점이 가장 닮았나요?";
        document.getElementById("sresp2").innerHTML = "정해인님은 다른 사람들이랑 비교 했을떼 어떤 점이 가장 눈에 띄나요?";
        document.getElementById("sresp3").innerHTML = "정해인님의 대표적인 장점은 무엇 인가요?";
        document.getElementById("sresp4").innerHTML = "정해인님과 함께한 시간 중에서 가장 기억에 남았던 기억이 무엇 인가요?";
        document.getElementById("sresp5").innerHTML = "정해인님에 대한 통합적인 평가를 내리자면, 어떻게 정해인님을 보시나요?";
        updater();
        function updater(){

            let e = document.getElementById('dept');
            x = document.getElementById('name')
            while (x.firstChild) {
              x.removeChild(x.firstChild);
            }
            {% for person in people %}
                if("{{person['dept_name']}}" == e.value){
                    let a = document.createElement('option');
                    a.innerHTML = `<option value="{{person['name']}}">{{person['name']}} {{person['emp_no']}}</option>`;
                    document.getElementById('name').appendChild(a);
                }
            {% endfor %}
        };

        function promptChange(){
            let x = document.getElementById('name').value;
            let x1 = x.split(' ');
            let y = x1[0].split('(');
            document.getElementById("question1").innerHTML = y[0] + "님은 어딘가를 가기 전에 거기서 무엇을 언제 할지 먼저 결정 하실 것 같다.";
            document.getElementById("question2").innerHTML = y[0] + "님이 선생님이셨으면 가르치시는 수업에서 철학을 배재 하실것 같다.";
            document.getElementById("question3").innerHTML = y[0] + "님은 자신만의 시간을 가질 수 있는 기회를 소중히 여기신다.";
            document.getElementById("question4").innerHTML = y[0] + "님은 감정적인 결정을 자주 하신다.";
            document.getElementById("question5").innerHTML = y[0] + "님은 많은 사람들이 택한 길을 가는 것 보다는 새로운 길을 찾는 것 을 좋아 하신다.";
            document.getElementById("question6").innerHTML = y[0] + "님은 친구들에 대한 소식을 뒤늦게 접하실것 같다.";
            document.getElementById("question7").innerHTML = y[0] + "님은 주말에 다음 주를 위한 계획을 짜면 스트레스 가 쌓이실 성격 이시다.";
            document.getElementById("question8").innerHTML = y[0] + "님은 특별한 일이 생기신다면 나는 일을 시작하시기 전에 어떻게 일을 해결할 지 마음 속으로 정리 하신다.";
            document.getElementById("question9").innerHTML = y[0] + "님은 친구를 많이 만드는 것보다 소수의 친구들과 굉장히 친밀하게 지내실 것이다.";
            document.getElementById("question10").innerHTML = y[0] + "님은 놀때는 계획을 짜는 대신에 그때 그때 재미있어 보이는 것을 할것 같다.";
            document.getElementById("question11").innerHTML = y[0] + "님은 대화를 하실 때 객관적인 시점이 아닌 상상력을 바탕으로 얘기 하시는 것을 좋아하신다.";
            document.getElementById("question12").innerHTML = y[0] + "님은 단체로 활동 할 때 대체로 먼저 말씀을 꺼내신다.";
            document.getElementById("question13").innerHTML = y[0] + "님은 공감 능력에 대한 칭찬이 객관성에 대한 칭찬보다 가치가 있다고 생각 하실것 같다.";
            document.getElementById("question14").innerHTML = y[0] + "님은 이상하게 느껴질 정도로 새로운 표현을 만들는 작가를 좋아 하실것 같다.";
            document.getElementById("question15").innerHTML = y[0] + "님은 그 누구와도 쉽게 대화를 시작 하실 수 있다.";
            document.getElementById("question16").innerHTML = y[0] + "님은 스케줄을 따르는 행위를 정말 싫어 하신다.";
            document.getElementById("question17").innerHTML = y[0] + "님은 언제 무슨 일을 해야 되는지 정하는 것을 좋아하시는 것 같다.";
            document.getElementById("question18").innerHTML = y[0] + "님은 문제가 생기기 전에 파악한 후 해결책을 만드는 것이 문제가 생긴 후 해결 하는것보다 힘들어 할 것 같다.";
            document.getElementById("question19").innerHTML = y[0] + "님은 남들이 자신을 현실적인 사람이라고 생각하길 바란신다.";
            document.getElementById("question20").innerHTML = y[0] + "님은 지인들과 같이 새로운 사람들을 만나면 지인들을 대신하여 그들을 소개 시켜 주실 수 있으시다.";
            document.getElementById("question21").innerHTML = y[0] + "님은 이성적인 판단을 감성적인 생각보다 더욱 중요시 하신다.";
            document.getElementById("question22").innerHTML = y[0] + "님은 도전적인 삶보다 안정적인 삶을 가진 자들과 친구를 맺고 싶어 하신다.";
            document.getElementById("question23").innerHTML = y[0] + "님은 다른 사람이 한눈에 어떤 사람인지 바로 알 수 있다고 생각 한다.";
            document.getElementById("question24").innerHTML = y[0] + "님은 대체로 자신의 감정들을 남들 에게 보이지 않도록 노력 한다.";
            document.getElementById("question25").innerHTML = y[0] + "님은 계획을 짤 시 그 어떤 실패의 가능성도 고려하신 후 짜신다."
            document.getElementById("question26").innerHTML = y[0] + "님은 예술 관련 대화를 하실때 지루하신 듯 하다.";
            document.getElementById("question27").innerHTML = y[0] + "님은 다른 이들이 감성적 인 행동을 줄이고 이성적으로 생각하면 세상이 더욱 좋아 질수 있다고 믿으신다.";
            document.getElementById("question28").innerHTML = y[0] + "님은 다른 의견을 가진 사람이 그 의견을 가지고 있는 이유에 대하여 자주 생각 하실 것 같다.";
            document.getElementById("question29").innerHTML = y[0] + "님은 다른 배경에서 온 사람을 쉽게 이해 하실 수 있으시다.";
            document.getElementById("question30").innerHTML = y[0] + "님은 혼자서 할 수 있는 일이 편하신 것 같다.";
            document.getElementById("question31").innerHTML = y[0] + "님은 아무리 좋은 기회가 오시더라도 그 기회가 다른 사람에게 더욱 큰 도움이 될 수 있다고 생각하시면 포기 하실 성격이시다.";
            document.getElementById("question32").innerHTML = y[0] + "님은 이메일에 가능한 빨리 회신하려고 하시고 지저분한 편지함을 참을 수 없으시다.";
            document.getElementById("question33").innerHTML = y[0] + "님은 종종 다른 사람들의 감정에 공감하는데 어려움을 느끼신다.";
            document.getElementById("question34").innerHTML = y[0] + "님은 토론 시 사람들의 민감한 반응보다 보다 진실을 더 중요시 하신다.";
            document.getElementById("question35").innerHTML = y[0] + "님은 지인이 어떤 일로 슬퍼할 경우, 문제를 해결 할 수 방법을 제시하는 것 보다 정신적인 지지를 제공 하실 것 같다.";
            document.getElementById("question36").innerHTML = y[0] + "님은 사람들이 가득찬 방에 있으실 경우, 방의 중앙보다는 벽 가까이에 앉으신다.";
            document.getElementById("question37").innerHTML = y[0] + "님은 정리가 안 된 방을 보면 마음이 불안해 지신다.";
            document.getElementById("question38").innerHTML = y[0] + "님은 에너지를 충전하기 위해서 혼자 있는 시간을 가지신다.";
            document.getElementById("question39").innerHTML = "둘중에 더욱 진실에 가깝다고 생각하는 답을 골라 주십시요. 1) " + y[0] + "님은 눈에 띄지 않기 위하여 평범하게 살려고 노력하는 사람을 좋아하신다. 2) " + y[0] + "님은 눈에 띄든 말든 상관 없이 사는 사람을 좋아하신다.";
            document.getElementById("sresp1").innerHTML = y[0] + "님은 어떤 유명인과 가장 닮았고 어떤 점이 가장 닮았나요?";
            document.getElementById("sresp2").innerHTML = y[0] + "님은 다른 사람들이랑 비교 했을떼 어떤 점이 가장 눈에 띄나요?";
            document.getElementById("sresp3").innerHTML = y[0] + "님의 대표적인 장점은 무엇 인가요?";
            document.getElementById("sresp4").innerHTML = y[0] + "님과 함께한 시간 중에서 가장 기억에 남았던 기억이 무엇 인가요?";
            document.getElementById("sresp5").innerHTML = y[0] + "님에 대한 통합적인 평가를 내리자면, 어떻게 " + y[0] + "님을 보시나요?";

        }
    </script>
</body>

</html>