<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">소셜 MBTI 분석기</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">



            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>상세 결과</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href={{url_for('questionaire.srlist')}}>나 자신의 평가</a>
                        <a class="collapse-item" href="{{url_for('questionaire.pslist')}}">너를 위해 봐준 시험들</a>
                        <a class="collapse-item" href="{{url_for('questionaire.splist')}}">나를 위해 봐준 시험들</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>시험 보기</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ url_for('questionaire.selftest') }}">나를 위한 시험지</a>
                        <a class="collapse-item" href="{{ url_for('questionaire.peertest') }}">너를 위한 시험지</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:1.5rem">{{g.user['name']}}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ url_for('auth.passchange') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{route['created'].strftime('%Y-%m-%d %I:%M:%S %p')}}에 {{tester['name']}} (이)가 자신을 위해 본 시험</h1>
                    </div>

                    <form style="padding: 15px" class = "questionaire">
                        {% for i in range (1,39) %}
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Question {{i}}</h6>
                            </div>
                            <div class="card-body">
                                <p id={{"question" + i|string}}></p>
                                <div>
                                    {% if route['q' + i|string] == 0 %}
                                        <h6>매우 동의</h6>
                                    {% elif  route['q' + i|string] == 1 %}
                                        <h6>동의</h6>
                                    {% elif  route['q' + i|string] == 2 %}
                                        <h6>약간 동의</h6>
                                    {% elif  route['q' + i|string] == 3 %}
                                        <h6>중립</h6>
                                    {% elif  route['q' + i|string] == 4 %}
                                        <h6>약간 부정</h6>
                                    {% elif  route['q' + i|string] == 5 %}
                                        <h6>부정</h6>
                                    {% elif  route['q' + i|string] == 6 %}
                                        <h6>매우 부정</h6>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Question 39</h6>
                            </div>
                            <div class="card-body">
                                <p id="question39"}></p>
                                <div>
                                    {% if route['q39'] == 0 %}
                                        <h6>1</h6>
                                    {% else %}
                                        <h6>2</h6>
                                    {% endif %}
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
                <!-- /.container-fluid -->

    </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Hunet 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        document.getElementById("question1").innerHTML = "당일치기 여행을 할 때, 계획을 먼저 세우는 편이다.";
        document.getElementById("question2").innerHTML = "내가 선생님이라면 사실에 근거한 과목들을 가르칠 것이다(수학, 과학, 지리 등).";
        document.getElementById("question3").innerHTML = "나는 혼자만의 시간을 소중히 여긴다.";
        document.getElementById("question4").innerHTML = "나는 마음이 시키는 대로 따르는 편이다.";
        document.getElementById("question5").innerHTML = "나는 많은 사람들이 택한 길을 가는 것 보다는 새로운 길을 찾는 것 을 선호 한다.";
        document.getElementById("question6").innerHTML = "나는 친구들과 지낼 때 안테나가 짧은 편이다.";
        document.getElementById("question7").innerHTML = "나는 주말에 차주에 대한 계획을 짜면 스트레스가 쌓인다.";
        document.getElementById("question8").innerHTML = "나에게 일이 주어 진다면, 시작하기 전에 마음 속으로 최선의 방법에 대하여 고민한다.";
        document.getElementById("question9").innerHTML = "나는 넓지만 옅은 연보다 좁지만 깊은 연이 있다고 생각한다.";
        document.getElementById("question10").innerHTML = "놀때는 그때 그때 재미있어 보이는 것을 한다.";
        document.getElementById("question11").innerHTML = "상상력이 풍부한 자들이 객관적인 시점을 가진 자들보다 친해지기 쉽다.";
        document.getElementById("question12").innerHTML = "단체로 활동 할 때 먼저 말을 꺼내는 것을 좋아 한다.";
        document.getElementById("question13").innerHTML = "나는 공감 능력에 대한 칭찬이 객관성에 대한 칭찬보다 가치가 있다고 생각한다.";
        document.getElementById("question14").innerHTML = "나는 책을 읽을 때, 독창적이고 새로운 표현을 좋아한다.";
        document.getElementById("question15").innerHTML = "나는 필요 할 시 그 누구와도 쉽게 대화 할 수 있다.";
        document.getElementById("question16").innerHTML = "나는 스케줄을 따를 때 갑갑함을 느낀다.";
        document.getElementById("question17").innerHTML = "나는 어떤 일을 제 시간에 해야 하는 상황이 오면 계획을 세워서 처리하는데 문제가 없다.";
        document.getElementById("question18").innerHTML = "나는 문제가 생기기 전에 파악한 후 해결책을 만드는 것이 문제가 생긴 후 해결 하는것보다 힘들다.";
        document.getElementById("question19").innerHTML = "나는 남들이 나를 현실적인 사람이라고 생각하길 바란다.";
        document.getElementById("question20").innerHTML = "나는 많은 사람들과 함께 있을 때 다른 사람들을 소개시켜주는 역할을 자주 맡는다.";
        document.getElementById("question21").innerHTML = "나는 이성적인 판단을 감성적인 생각보다 더욱 중요시 한다.";
        document.getElementById("question22").innerHTML = "나는 도전적인 삶보다 안정적인 삶을 가진 자들과 친구를 맺고 싶다.";
        document.getElementById("question23").innerHTML = "사람들은 나를 보면 바로 내가 어떤 사람인지 바로 알 수 있다.";
        document.getElementById("question24").innerHTML = "나는 대체로 나의 감정들을 남들 에게 보이지 않도록 노력 한다.";
        document.getElementById("question25").innerHTML = "나는 계획을 짤 때 실패의 가능성 도 고려 한 후 짠다.";
        document.getElementById("question26").innerHTML = "나는 예술 관련 대화를 할때 지루함을 느낀다.";
        document.getElementById("question27").innerHTML = "나는 사람들이 감성적인 행동을 줄이고 이성적으로 생각하면 세상이 더욱 좋아 질수 있다고 믿는다.";
        document.getElementById("question28").innerHTML = "나는 나와 다른 의견을 가진 사람이 그 의견을 가지고 있는 이유 에 대하여 자주 생각 한다.";
        document.getElementById("question29").innerHTML = "나는 나와 다른 배경에서 온 사람을 쉽게 이해 할 수 있다.";
        document.getElementById("question30").innerHTML = "나는 혼자서 할 수 있는 일이 편하다.";
        document.getElementById("question31").innerHTML = "나는 아무리 좋은 기회가 오더라도 그 기회가 다른 사람에게 더욱 큰 도움이 될 수 있다고 생각하면 쉽게 포기 할 수 있다.";
        document.getElementById("question32").innerHTML = "나는 이메일에 하나라도 읽지 않은 이메일이 있으면 기분이 나빠진다.";
        document.getElementById("question33").innerHTML = "나는 자주 다른 사람들 의 감정에 공감 할 수 없다.";
        document.getElementById("question34").innerHTML = "나는 사람들과 얘기 할떼 그 사람들의 감정보다 보다 옳고 그름을 더욱 중요하게 본다.";
        document.getElementById("question35").innerHTML = "나는 친구가 어떤 일로 슬퍼할 경우, 문제를 해결 할 수 방법을 제시하는 것 보다 정신적인 지지를 제공하는 하는것이 중요하다고 생각한다.";
        document.getElementById("question36").innerHTML = "나는 다른 이들과 방에 앉을 경우 벽 근처에 앉는다.";
        document.getElementById("question37").innerHTML = "나는 정리가 안 된 방을 보면 속이 상한다.";
        document.getElementById("question38").innerHTML = "나는 일이 끝난후 휴식을 취할 시 혼자 있는 게 가장 효과적이다.";
        document.getElementById("question39").innerHTML = "둘중에 어떤것이 더욱 진실에 가깝습니까? 1) 나는 눈에 띄지 않기 위하여 평범하게 살려고 노력하는 사람이 좋다. 2) 나는 눈에 띄든 말든 상관 없이 사는 사람이 좋다.";
    </script>


</body>

</html>