{% extends 'base.html' %}

{% block title %} Results {% endblock %}
{% block content %}
    <article class="testResults">
        <h1>Self Assessment by {{route['username']}} on {{ route['created'].strftime('%Y-%m-%d') }}</h1>
        {% for i in range (1,21) %}
            {% if route['q' + i|string] == 0 %}
                <h2>Question {{i}}: Agree</h2>
            {% endif %}
            {% if route['q' + i|string] == 1 %}
                <h2>Question {{i}}: Slightly Agree</h2>
            {% endif %}
            {% if route['q' + i|string] == 2 %}
                <h2>Question {{i}}: Slightly Disagree</h2>
            {% endif %}
            {% if route['q' + i|string] == 3 %}
                <h2>Question {{i}}: Disagree</h2>
            {% endif %}
        {% endfor %}

    </article>
{% endblock %}